{{> header }}
<section class="sidebar">
  <button class="new-btn" onclick="showNewMenu()"><i class="fa-solid fa-plus fa-xl"></i>Nuevo</button>
  <div class="new-menu" id="newMenu">
    <button onclick="clickedMenuOption('new_folder')"><i class="fa-solid fa-folder-plus"></i>Nueva carpeta</button>
    <button onclick="clickedMenuOption('new_file')"><i class="fa-solid fa-file-medical"></i>Nuevo archivo</button>
    <button onclick="clickedMenuOption('upload_file')"><i class="fa-solid fa-file-arrow-up"></i>Subir archivo</button>
  </div>
</section>
<section class="main-section">
  <div class="route">
    <h2>{{ path }}</h2>
  </div>
  <hr>
  <div class="explorer">
    {{#unless error }}
      {{#each children }}
        <a class="element folder" href="{{id}}">
          <i class="fa-solid fa-folder fa-2xl"></i>
          <h3>{{ name }}</h3>
        </a>
      {{else }}
        <h2>Esta carpeta esta vacia</h2>
      {{/each }}
    {{else }}
      <h2>{{error}}</h2>
    {{/unless }}
  </div>
</section>
{{> explorerMenus}}
<script src="/js/helpers.js"></script>
<script src="/js/explorer.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/contextMenu.js"></script>